/* INDEX.HTML */
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ADMIN.HTML */
@keyframes inputTextDown {
  0% {
    top: -0.25rem;
    opacity: 1;
  }

  50% {
    top: 2rem;
    opacity: 0.5;
  }

  100% {
    top: 3.5rem;
    opacity: 0;
  }
}
