.cart-container {
  min-height: 50vh;
  padding-top: 10rem;
}
.cart-table,
.admin-table {
  width: 80%;
  margin: 0 auto;
  /* margin-bottom: 2rem; */

  /* min-height: 37vh; */
}

#table {
  background-color: var(--secondary-color-dark);
  margin: 5rem auto;
  margin-bottom: 2rem;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  empty-cells: hide;
  /* check gap invisible border */
}

#thead th,
#cart-tbody td {
  font-size: 2rem;
  border: 1px solid var(--secondary-color);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  color: var(--secondary-color);
}
#thead th {
  padding: 1rem 2rem;
  text-transform: uppercase;
}

#cart-tbody td:not(:first-of-type) {
  padding: 1rem 2rem;
}

.first-header {
  width: 10%;
  /* check border */
  /* background-color: white; */
}
.second-header {
  width: 50%;
}

.third-header,
.fourth-header {
  width: 12.5%;
}

.cart-product-picture img {
  width: 100%;
  height: 100%;
  /* gets rid of gaps in container */
  display: block;
}

.cart-product-name {
  /* Check text wrapping, why it doesnt work?????? */
  width: 30%;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-product-price {
  text-align: center;
}

.cart-product-quantity {
  text-align: center;
}

.cart-quantity {
  width: 70%;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.delete-btn {
  font-size: 3rem;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--secondary-color);
}

.price-amount-container {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

/* .float-box {
  position: absolute;
  top: 0;
  right: 0;
} */

.price-list,
.price-amount {
  font-size: 2.5rem;
  display: inline-block;
  list-style: none;
  letter-spacing: 1px;
}

.price-list {
  text-align: end;
}

.price-amount {
  margin: 0 3rem;
}
.delivery-cost,
.delivery-cost-price,
.total-cost,
.total-cost-price {
  padding-top: 1rem;
}

.total-cost-price {
  color: var(--main-color);
}

.checkout-btn {
  width: 40%;
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 8rem;
  display: block;
  outline: none;
  border: none;
}

hr {
  width: 100%;
  margin-bottom: 2rem;
}
