.cart-container {
  min-height: 50vh;
}
.cart-table {
  margin: 10rem auto;
  width: 80%;
  background-color: var(--secondary-color-dark);
  /* min-height: 37vh; */
}

#table {
  width: 100%;
  border-collapse: collapse;
  /* check gap invisible border */
  border-radius: 5px;
}

th,
td {
  font-size: 2rem;
  border: 1px solid var(--secondary-color);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  color: var(--secondary-color);
}
th {
  padding: 1rem 2rem;
}

td:not(:first-of-type) {
  padding: 1rem 2rem;
}

.first-header,
.fourth-header {
  width: 10%;
  /* check border */
  /* background-color: white; */
}
.second-header {
  width: 50%;
}

.third-header {
  width: 15%;
}

.cart-product-picture img {
  width: 100%;
  height: 100%;
  /* gets rid of gaps in container */
  display: block;
}

.cart-product-name {
  /* Check text wrapping, why it doesnt work?????? */
  width: 30%;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-product-price {
  text-align: center;
}

.cart-product-quantity {
  text-align: center;
}

#cart-quantity {
  width: 60%;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

.delete-btn {
  font-size: 3rem;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--secondary-color);
}
