/* INDEX.HTML */
.container {
  width: 100%;
  position: relative;
  padding: 2rem;
  padding-top: 15rem;
}

.card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  column-gap: 5rem;
  row-gap: 5rem;
  margin: 5rem auto;
}

.card {
  background-color: white;
  /* border: 1px solid var(--secondary-color-dark); */
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow: hidden;
  -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.image-container {
  border-bottom: 1px solid var(--secondary-color-dark);
  height: 20.4rem;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

/* DETAILS.HTML */
.details-container {
  width: 60%;
  height: 60vh;
  /* border: 1px solid var(--secondary-color-dark); */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 29.7rem 52.259rem; /* calcualte as percentage later*/
  grid-template-rows: 29.7rem 8.09rem auto;
  position: relative;
  overflow: hidden;
}

.details-image-container {
  width: 29.7rem;
  height: 29.7rem;
  border-bottom: 1px solid var(--secondary-color-dark);
  border-right: 1px solid var(--secondary-color-dark);
  border-bottom-right-radius: 5px;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* CART.HTML */
.cart-container {
  min-height: 50vh;
  padding-top: 10rem;
}

/* ADMIN.HTML */
.admin-container {
  width: 100%;
  min-height: 100vh;
  margin-top: 15rem;
}
