/* INDEX.HTML SIDEBAR FORM */
.form-control {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.form-control:not(:last-child) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.filter-header {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.form-control label {
  padding: 0.5rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.form-control label:hover,
.form-control label:active {
  color: var(--main-color);
}

.form-control input {
  margin-right: 0.5rem;
  margin-left: 3rem;
}

.price-arrow {
  margin: 0 0.5rem;
}

/* ADMIN.HTML PRODUCT FORM */
.new-product-container {
  width: 80%;
  margin: 15rem auto;
  padding: 2.5rem 5rem;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 5px;
}

.margin {
  margin: 5rem 0;
}
.new-product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.new-product-form label {
  font-size: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -0.25rem;
  left: 1.5rem;
}

.new-product-form label[for="description"] {
  top: -0.25rem;
}

.new-product-form input:focus + label {
  animation: inputTextDown 0.4s ease-out;
  animation-fill-mode: forwards;
}

.new-product-form textarea:focus + label {
  animation: inputTextDown 0.4s ease-out;
  animation-fill-mode: forwards;
}

.new-product-form input {
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
  font-size: 2rem;
}

.new-product-form input:not(:focus):not(:placeholder-shown) {
  padding: 1rem 10.5rem;
}
.new-product-form textarea:not(:focus):not(:placeholder-shown) {
  padding: 1rem 14rem;
}

.new-product-form textarea {
  resize: none;
  font-size: 2rem;
  border-radius: 5px;
}

.new-product-form textarea::placeholder {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.new-product-form input:focus,
.new-product-form textarea:focus {
  outline: none;
}

#type {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-top: 1px solid var(--secondary-color-dark);
  border-radius: 5px;
}

optgroup[label="Barware"] {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new-product-form input[name="price"],
.new-product-form input[name="stock"] {
  display: inline;
}

.new-product-form input[name="price"] {
  margin-right: 1.5rem;
}

.new-product-form label[for="stock"],
.new-product-form input[name="stock"] {
  margin-left: 1.5rem;
}

.input-invalid {
  border: 1px solid #e63946;
}

.input-valid {
  border: 1px solid #06d6a0;
}

.valid_input_svg {
  width: 3rem;
  height: 3rem;
  fill: #06d6a0;
  position: absolute;
  top: 0.75rem;
  right: 4rem;
  display: none;
}

.input-error {
  width: 70%;
  height: 2rem;
  font-size: 1.5rem;
  color: #e63946;
  padding: 1rem 2rem;
  position: absolute;
  top: -4rem;
  left: 1rem;
}
