@import "navbar.css";
@import "sidebar.css";
@import "buttons.css";
@import "containers.css";
@import "cards.css";
@import "content.css";
@import "forms.css";
@import "footers.css";
@import "icons.css";
@import "animations.css";
@import "queries.css";

:root {
  --main-color: #284b63;
  --secondary-color: #d9d9d9;
  --white: #ffffff;
  --main-color-light: #3c6e71;
  --secondary-color-dark: #353535;
  --gray-color-1: #979dac;
  --gray-color-2: #7d8597;

  --primary-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --logo-font: "MonteCarlo", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px = 1rem*/
  font-family: var(--primary-font);
}
