/* ======================================= VARIABLES ========================== */
:root {
  --main-color: #284b63;
  --secondary-color: #d9d9d9;
  --white: #ffffff;
  --main-color-light: #3c6e71;
  --secondary-color-dark: #353535;
  --gray-color-1: #979dac;
  --gray-color-2: #7d8597;

  --primary-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --logo-font: "MonteCarlo", cursive;
}

/* ======================================== ROOT ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px = 1rem*/
  font-family: var(--primary-font);
}

/* ================================== NAVBAR ======================== */
.navbar {
  position: fixed;
  top: 0;
  /* position: relative; */
  background-color: var(--main-color-light);
  width: 100%;
  min-height: 8rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-bottom: 1px solid var(--secondary-color-dark);
  /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35); */
  z-index: 1000;
  padding-left: 15rem;
}

.location {
  text-align: center;
  align-self: flex-start;
  padding-top: 1rem;
  margin-left: 3rem;
  width: 15%;
}

.location p,
#delivery-location {
  font-size: 1.5rem;
}

#delivery-location {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo-container {
  width: 40%;
  text-align: center;
}

.logo {
  font-size: 5rem;
  font-family: var(--logo-font);
  letter-spacing: 0.4rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
}
.btn:visited,
.btn:link,
.btn:active,
.logo:visited,
.logo:link,
.logo:active {
  text-decoration: none;
}

.btn {
  background-color: var(--secondary-color-dark);
  width: 12.5%;
  display: inline-block;
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--gray-color-1);
}

.log-in-btn,
.sign-up-btn,
.admin-btn {
  margin: 0rem 1rem;
}

.btn:hover {
  background-color: var(--gray-color-1);
  color: var(--secondary-color-dark);
}

.btn:hover .user_svg,
.btn:hover .users_svg,
.btn:hover .lock_svg {
  fill: var(--secondary-color-dark);
}

.filter-btn {
  position: absolute;
  top: 5.4rem;
  left: 0rem;
  width: 20rem;
  background-color: var(--secondary-color-dark);
  color: var(--secondary-color);
  font-size: 2rem;
  text-align: center;
  border-top: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-top-right-radius: 5px;
  letter-spacing: 3px;
  padding: 0.3rem 0;
  cursor: pointer;
  text-transform: uppercase;
}

#cart-btn {
  position: absolute;
  top: 8.6rem;
  right: 0;
  background-color: var(--secondary-color-dark);
  width: 25rem;
  border-bottom-left-radius: 5px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: var(--gray-color-1);
  /* position: relative; */
}

#cart-btn .cart-counter {
  background-color: #06d6a0;
  border-radius: 50%;
  padding: 0.35rem;
  font-size: 1.5rem;
  color: #353535;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 0.25rem;
  left: 6.5rem;
  z-index: 100;
}

/* ============================================ SIDEBAR ========================== */

.container {
  width: 100%;
  position: relative;
  padding: 2rem;
  padding-top: 15rem;
}

.filter-sidebar {
  width: 20rem;
  height: 100vh;
  background-color: var(--secondary-color-dark);
  color: var(--secondary-color);
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  top: 8.6rem;
  left: 0;
  z-index: 999;
  /* overflow: hidden; */
  margin-left: -20rem;
}

.hide {
  margin-left: -20rem;
  transition: margin-left 0.7s ease-out;
  overflow: hidden;
}

.show {
  margin-left: 0;
  transition: margin-left 0.7s ease-out;
  overflow: hidden;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.form-control:not(:last-child) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.filter-header {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.form-control label {
  padding: 0.5rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.form-control label:hover,
.form-control label:active {
  color: var(--main-color);
}

.form-control input {
  margin-right: 0.5rem;
  margin-left: 3rem;
}

.price-arrow {
  margin: 0 0.5rem;
}

/* ========================================= BANNER ========================  */
.success-message {
  background-color: var(--secondary-color-dark);
  width: 50%;
  margin: 0rem auto;
  position: fixed;
  top: 15rem;
  left: 25%;
  opacity: 0.8;
  z-index: 999;
  border-radius: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: #06d6a0;
}

.error-message {
  background-color: var(--secondary-color-dark);
  width: 50%;
  margin: 0rem auto;
  position: fixed;
  top: 15rem;
  left: 25%;
  opacity: 0.8;
  z-index: 999;
  border-radius: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: #e63946;
}

.success_svg {
  margin-right: 2rem;
  transform: translateY(5px);
}

/* ============================================ GRID ========================== */

.card-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  column-gap: 3rem;
  row-gap: 1rem;
  margin: 5rem auto;
  /* position: relative; */
}

.card {
  background-color: white;
  border: 1px solid var(--secondary-color-dark);
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.image-container {
  border-bottom: 1px solid var(--secondary-color-dark);
  height: 20.4rem;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  position: relative;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 400;
  width: 27rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-description {
  text-align: left;
  width: 90%;
  margin: 0.5rem;
  line-height: 120%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-indent: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.stock-container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-stock {
  color: #06d6a0;
  text-align: center;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.product-stock-error {
  color: #e63946;
  text-align: center;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.product-price {
  margin: 1rem 10rem 1rem 1rem;
  font-size: 2rem;
  color: #e63946;
  /* font-weight: 500; */
}

.dollar {
  display: inline-block;
  vertical-align: top;
}

.details-btn {
  font-size: 2rem;
  letter-spacing: 1px;
  text-decoration: none;
  width: 50%;
  background-color: var(--secondary-color-dark);
  position: absolute;
  top: -3.5rem;
  right: 0;
  text-align: center;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.details-btn:hover {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.product-numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-container label {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.35rem;
}

.quantity {
  border-radius: 5px;
  outline: none;
  appearance: text;
  width: 4rem;
  height: 3rem;
  text-align: center;
  /* border: none; */
}

.add-to-cart-btn {
  display: block;
  background-color: var(--secondary-color-dark);
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* ======================================= FOOTER =========================== */

.footer {
  width: 100%;
  display: flex;
  background-color: var(--main-color-light);
}

.contact-info {
  width: 40%;
  padding: 1.5rem 0;
}

.contact-text {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.address,
.email,
.phone-number {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.address {
  padding-top: 2rem;
}

.up-arrow {
  margin: 2rem 6rem 0 10rem;
}

.google-map {
  margin: 1rem 0 1rem 6rem;
  margin-left: 6rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 400px;
  margin: 0 auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 400px;
}

/* ============================== ICONS =========================== */
.map_marker_svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--gray-color-1);
}

.success_svg {
  fill: #06d6a0;
  width: 3rem;
  height: 3rem;
}

.cart_svg,
.user_svg,
.users_svg,
.close_svg,
.lock_svg {
  width: 3rem;
  height: 3rem;
  fill: var(--gray-color-1);
}

.close_svg {
  fill: var(--secondary-color);
}

.stock_svg {
  width: 2rem;
  height: 2rem;
  fill: #06d6a0;
}

.error_svg {
  width: 2rem;
  height: 2rem;
  fill: #e63946;
}

.cart_svg {
  margin-right: 2.5rem;
  width: 3rem;
  height: 3rem;
  transform: translateY(5px);
}

.user_svg,
.users_svg,
.lock_svg {
  margin-right: 1rem;
  padding-top: 0.75rem;
}

.add_to_cart_svg {
  width: 3rem;
  height: 3rem;
  fill: var(--secondary-color);
  margin-right: 1rem;
  transform: translateY(5px);
}

.address_svg,
.mail_svg,
.phone_svg {
  width: 2rem;
  height: 2rem;
  fill: var(--secondary-color);
  margin-right: 1rem;
}

.up_arrow_svg {
  width: 7rem;
  height: 7rem;
  fill: var(--secondary-color);
  text-decoration: none;
}

/* =================================== ANIMATION =========================== */
/* .fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */

@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* .slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-out {
  -webkit-animation: slide-in-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-out 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 1;
  }
}
@keyframes slide-in-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 1;
  }
} */
